.container {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 600px;
  /*background: gray;*/
  background-image: url("../images/bg_itm_lineup.jpg");
  
}

.mySlide {
  position: relative;
  padding-top: 90px;
  /*padding-left: 130px;*/
  margin-left: 130px;
  /*display: none;*/
  /*animation: move 2s linear;*/
  overflow: hidden;
  /*list-style: none;*/
  width: 650px;
  height: 335px;
}

/*.mySlide ul {*/
/*list-style: none;*/
/*margin-left: -40px;*/
/*margin-top: 0px;*/
/*}*/

@keyframes move {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(100px);
  }
}

.notSlide {
  position: absolute;
  margin-top: -207px;
}

.mySlide:after {
  clear: both;
}

.mySlide img {
  position: absolute;
  float: left;
  /*display: none;*/
  /*display: block;*/
  /*overflow: hidden;*/
}


.button-lef-right {
  /*margin-top: -210px;*/
  
}

.prev {
  /*position: fixed;*/
  margin-top: 240px;
  margin-left: 55px;
  cursor: pointer;
  
}

.next {
  /*position: fixed;*/
  margin-top: 240px;
  margin-left: 745px;
  cursor: pointer;
  
}

.currentSlide {
  margin-top: 145px;
  margin-left: 200px;
  cursor: pointer;
}

.active,
.item:hover {
  opacity: 0.5;
}